In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv("Rent_Data1.txt")

C:\Users\61478\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%,NaN,NaN,NaN
1,2019,Second,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%,NaN,NaN,NaN
3,2019,Second,Albury,Total,Not Specified,-,-,-,-,214,-,-,-,-,NaN,NaN,NaN
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42449 entries, 0 to 42448
Data columns (total 17 columns):
Year                                          42449 non-null int64
Quarter                                       42449 non-null object
LGA (Local Government Areas)                  42449 non-null object
Dwelling Types                                42449 non-null object
Bedroom Numbers                               42446 non-null object
First Quartile Weekly Rent for New Bonds
$    42446 non-null object
Median Weekly Rent for New Bonds
$            42446 non-null object
Third Quartile Weekly Rent for New Bonds
$    42446 non-null object
New Bonds Lodged
No.                          42446 non-null object
Total Bonds Held
No.                          42445 non-null object
Quarterly change in Median Weekly Rent        42443 non-null object
Annual change in Median Weekly Rent           42432 non-null object
Quarterly change in New Bonds Lodged          42435 non-null object
Annual change in New Bonds Lodged             42433 non-null object
Unnamed: 14                                   1344 non-null object
Unnamed: 15                                   1343 non-null object
Unnamed: 16                                   821 non-null object
dtypes: int64(1), object(16)
memory usage: 5.5+ MB

In [33]:
df.isnull().sum()

Year                                               0
Quarter                                            0
LGA (Local Government Areas)                       0
Dwelling Types                                     0
Bedroom Numbers                                    0
First Quartile Weekly Rent for New Bonds\n$        0
Median Weekly Rent for New Bonds\n$                0
Third Quartile Weekly Rent for New Bonds\n$        0
New Bonds Lodged\nNo.                              0
Total Bonds Held\nNo.                              0
Quarterly change in Median Weekly Rent             0
Annual change in Median Weekly Rent                0
Quarterly change in New Bonds Lodged               0
Annual change in New Bonds Lodged                  0
Unnamed: 14                                    13915
Unnamed: 15                                    34491
Unnamed: 16                                    34491
dtype: int64

In [8]:
df= df.fillna(method='ffill')

In [34]:
df.isnull().sum()

Year                                               0
Quarter                                            0
LGA (Local Government Areas)                       0
Dwelling Types                                     0
Bedroom Numbers                                    0
First Quartile Weekly Rent for New Bonds\n$        0
Median Weekly Rent for New Bonds\n$                0
Third Quartile Weekly Rent for New Bonds\n$        0
New Bonds Lodged\nNo.                              0
Total Bonds Held\nNo.                              0
Quarterly change in Median Weekly Rent             0
Annual change in Median Weekly Rent                0
Quarterly change in New Bonds Lodged               0
Annual change in New Bonds Lodged                  0
Unnamed: 14                                    13915
Unnamed: 15                                    34491
Unnamed: 16                                    34491
dtype: int64

In [35]:
df.head()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%,NaN,NaN,NaN
1,2019,Second,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%,NaN,NaN,NaN
3,2019,Second,Albury,Total,Not Specified,-,-,-,-,214,-,-,-,-,NaN,NaN,NaN
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%,NaN,NaN,NaN

In [11]:
df.head()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%,NaN,NaN,NaN
1,2019,Second,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-,NaN,NaN,NaN
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%,NaN,NaN,NaN
3,2019,Second,Albury,Total,Not Specified,-,-,-,-,214,-,-,-,-,NaN,NaN,NaN
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%,NaN,NaN,NaN

In [36]:
import seaborn as sns
x=df.iloc[:,5:6]
print(x)
y=df.iloc[:,2]

      First Quartile Weekly Rent for New Bonds\n$
0                                             220
1                                               -
2                                             165
3                                               -
4                                             190
5                                             280
6                                             360
7                                             275
8                                               -
9                                               -
10                                              -
11                                            213
12                                            280
13                                            364
14                                              -
15                                              -
16                                              -
17                                              -
18                                              -
19                                              -
20                                              -
21                                            270
22                                              -
23                                              -
24                                              -
25                                            244
26                                            299
27                                              -
28                                            180
29                                              -
...                                           ...
42419                                           -
42420                                           -
42421                                           -
42422                                           -
42423                                           -
42424                                           -
42425                                           -
42426                                           -
42427                                           -
42428                                           -
42429                                           -
42430                                           -
42431                                           -
42432                                           -
42433                                           -
42434                                           -
42435                                           -
42436                                           -
42437                                           -
42438                                           -
42439                                           -
42440                                           -
42441                                           -
42442                                           -
42443                                           -
42444                                           -
42445                                           -
42446                                           -
42447                                           -
42448                                           -

[42449 rows x 1 columns]

In [37]:
print(y)

0                Albury
1                Albury
2                Albury
3                Albury
4                Albury
5                Albury
6                Albury
7                Albury
8                Albury
9                Albury
10               Albury
11               Albury
12               Albury
13               Albury
14               Albury
15               Albury
16               Albury
17               Albury
18               Albury
19               Albury
20               Albury
21               Albury
22               Albury
23               Albury
24               Albury
25               Albury
26               Albury
27               Albury
28               Albury
29               Albury
              ...
42419           Penrith
42420         Pittwater
42421        Sutherland
42422         Warringah
42423       Wollondilly
42424             Wyong
42425          Cessnock
42426             Kiama
42427    Lake Macquarie
42428          Maitland
42429         Newcastle
42430     Port Stephens
42431      Shellharbour
42432        Wollongong
42433          Cessnock
42434             Kiama
42435    Lake Macquarie
42436          Maitland
42437         Newcastle
42438     Port Stephens
42439      Shellharbour
42440        Wollongong
42441          Cessnock
42442             Kiama
42443    Lake Macquarie
42444          Maitland
42445         Newcastle
42446     Port Stephens
42447      Shellharbour
42448        Wollongong
Name: LGA (Local Government Areas), Length: 42449, dtype: object

In [38]:
list = ['Unnamed: 14','Unnamed: 15','Unnamed: 16']
x= df.drop(list,axis = 1 )

In [39]:
print(x)

       Year Quarter LGA (Local Government Areas) Dwelling Types  \
0      2019  Second                       Albury          Total
1      2019  Second                       Albury          Total
2      2019  Second                       Albury          Total
3      2019  Second                       Albury          Total
4      2019  Second                       Albury          Total
5      2019  Second                       Albury          Total
6      2019  Second                       Albury          Total
7      2019  Second                       Albury          House
8      2019  Second                       Albury          House
9      2019  Second                       Albury          House
10     2019  Second                       Albury          House
11     2019  Second                       Albury          House
12     2019  Second                       Albury          House
13     2019  Second                       Albury          House
14     2019  Second                       Albury          Other
15     2019  Second                       Albury          Other
16     2019  Second                       Albury          Other
17     2019  Second                       Albury          Other
18     2019  Second                       Albury          Other
19     2019  Second                       Albury          Other
20     2019  Second                       Albury          Other
21     2019  Second                       Albury      Townhouse
22     2019  Second                       Albury      Townhouse
23     2019  Second                       Albury      Townhouse
24     2019  Second                       Albury      Townhouse
25     2019  Second                       Albury      Townhouse
26     2019  Second                       Albury      Townhouse
27     2019  Second                       Albury      Townhouse
28     2019  Second                       Albury      Flat/Unit
29     2019  Second                       Albury      Flat/Unit
...     ...     ...                          ...            ...
42419  2015   First                      Penrith          Total
42420  2015   First                    Pittwater          Total
42421  2015   First                   Sutherland          Total
42422  2015   First                    Warringah          Total
42423  2015   First                  Wollondilly          Total
42424  2015   First                        Wyong          Total
42425  2015   First                     Cessnock          House
42426  2015   First                        Kiama          House
42427  2015   First               Lake Macquarie          House
42428  2015   First                     Maitland          House
42429  2015   First                    Newcastle          House
42430  2015   First                Port Stephens          House
42431  2015   First                 Shellharbour          House
42432  2015   First                   Wollongong          House
42433  2015   First                     Cessnock      Flat/Unit
42434  2015   First                        Kiama      Flat/Unit
42435  2015   First               Lake Macquarie      Flat/Unit
42436  2015   First                     Maitland      Flat/Unit
42437  2015   First                    Newcastle      Flat/Unit
42438  2015   First                Port Stephens      Flat/Unit
42439  2015   First                 Shellharbour      Flat/Unit
42440  2015   First                   Wollongong      Flat/Unit
42441  2015   First                     Cessnock          Total
42442  2015   First                        Kiama          Total
42443  2015   First               Lake Macquarie          Total
42444  2015   First                     Maitland          Total
42445  2015   First                    Newcastle          Total
42446  2015   First                Port Stephens          Total
42447  2015   First                 Shellharbour          Total
42448  2015   First                   Wollongong          Total

          Bedroom Numbers First Quartile Weekly Rent for New Bonds\n$  \
0                   Total                                         220
1               Bedsitter                                           -
2               1 Bedroom                                         165
3           Not Specified                                           -
4              2 Bedrooms                                         190
5              3 Bedrooms                                         280
6      4 or more Bedrooms                                         360
7                   Total                                         275
8               Bedsitter                                           -
9               1 Bedroom                                           -
10          Not Specified                                           -
11             2 Bedrooms                                         213
12             3 Bedrooms                                         280
13     4 or more Bedrooms                                         364
14                  Total                                           -
15              Bedsitter                                           -
16              1 Bedroom                                           -
17          Not Specified                                           -
18             2 Bedrooms                                           -
19             3 Bedrooms                                           -
20     4 or more Bedrooms                                           -
21                  Total                                         270
22              Bedsitter                                           -
23              1 Bedroom                                           -
24          Not Specified                                           -
25             2 Bedrooms                                         244
26             3 Bedrooms                                         299
27     4 or more Bedrooms                                           -
28                  Total                                         180
29              Bedsitter                                           -
...                   ...                                         ...
42419               Total                                           -
42420               Total                                           -
42421               Total                                           -
42422               Total                                           -
42423               Total                                           -
42424               Total                                           -
42425               Total                                           -
42426               Total                                           -
42427               Total                                           -
42428               Total                                           -
42429               Total                                           -
42430               Total                                           -
42431               Total                                           -
42432               Total                                           -
42433               Total                                           -
42434               Total                                           -
42435               Total                                           -
42436               Total                                           -
42437               Total                                           -
42438               Total                                           -
42439               Total                                           -
42440               Total                                           -
42441               Total                                           -
42442               Total                                           -
42443               Total                                           -
42444               Total                                           -
42445               Total                                           -
42446               Total                                           -
42447               Total                                           -
42448               Total                                           -

      Median Weekly Rent for New Bonds\n$  \
0                                     275
1                                       -
2                                     178
3                                       -
4                                     235
5                                     310
6                                     400
7                                     320
8                                       -
9                                       -
10                                      -
11                                    250
12                                    313
13                                    400
14                                      -
15                                      -
16                                      -
17                                      -
18                                      -
19                                      -
20                                      -
21                                    305
22                                      -
23                                      -
24                                      -
25                                    278
26                                    340
27                                      -
28                                    210
29                                      -
...                                   ...
42419                                   -
42420                                   -
42421                                   -
42422                                   -
42423                                   -
42424                                   -
42425                                   -
42426                                   -
42427                                   -
42428                                   -
42429                                   -
42430                                   -
42431                                   -
42432                                   -
42433                                   -
42434                                   -
42435                                   -
42436                                   -
42437                                   -
42438                                   -
42439                                   -
42440                                   -
42441                                   -
42442                                   -
42443                                   -
42444                                   -
42445                                   -
42446                                   -
42447                                   -
42448                                   -

      Third Quartile Weekly Rent for New Bonds\n$ New Bonds Lodged\nNo.  \
0                                             340                   623
1                                               -                     -
2                                             200                    50
3                                               -                     -
4                                             265                   255
5                                             348                   227
6                                             430                    83
7                                             370                   312
8                                               -                     -
9                                               -                     -
10                                              -                     -
11                                            279                    50
12                                            350                   176
13                                            430                    80
14                                              -                     -
15                                              -                     -
16                                              -                     -
17                                              -                     -
18                                              -                     -
19                                              -                     -
20                                              -                     -
21                                            350                    50
22                                              -                     -
23                                              -                     -
24                                              -                     -
25                                            303                     s
26                                            350                     s
27                                              -                     -
28                                            255                   253
29                                              -                     -
...                                           ...                   ...
42419                                           -                  1406
42420                                           -                   409
42421                                           -                  1277
42422                                           -                  1205
42423                                           -                   196
42424                                           -                  1196
42425                                           -                   288
42426                                           -                    71
42427                                           -                   689
42428                                           -                   461
42429                                           -                   753
42430                                           -                   311
42431                                           -                   185
42432                                           -                   499
42433                                           -                    89
42434                                           -                    30
42435                                           -                   227
42436                                           -                   153
42437                                           -                   658
42438                                           -                   117
42439                                           -                    87
42440                                           -                   861
42441                                           -                   487
42442                                           -                   147
42443                                           -                  1285
42444                                           -                   743
42445                                           -                  2659
42446                                           -                   607
42447                                           -                   391
42448                                           -                  1884

      Total Bonds Held\nNo. Quarterly change in Median Weekly Rent  \
0                     6,095                                 -5.17%
1                         -                                      -
2                       496                                  1.43%
3                       214                                      -
4                     2,341                                  0.00%
5                     2,141                                 -3.12%
6                       893                                  0.00%
7                     2,909                                 -3.03%
8                         -                                      -
9                         s                                      -
10                       73                                      -
11                      322                                 -4.76%
12                    1,639                                 -1.57%
13                      845                                  0.00%
14                      367                                      -
15                        -                                      -
16                       56                                      -
17                       80                                      -
18                      125                                      -
19                       78                                      -
20                        s                                      -
21                      511                                 -2.40%
22                        -                                      -
23                        -                                      -
24                        -                                      -
25                      274                                  1.83%
26                      211                                  3.82%
27                        s                                      -
28                    2,308                                 -2.33%
29                        -                                      -
...                     ...                                    ...
42419                 16124                                    1.1
42420                  4428                                    0.0
42421                 15633                                   -0.2
42422                 13598                                    0.1
42423                  2004                                    0.9
42424                 14652                                   -0.1
42425                  2911                                      -
42426                   636                                      -
42427                  6726                                      -
42428                  3879                                      -
42429                  6323                                      -
42430                  2713                                      -
42431                  2105                                      -
42432                  5293                                      -
42433                   866                                      -
42434                   303                                      -
42435                  2182                                      -
42436                  1324                                      -
42437                  5035                                      -
42438                   997                                      -
42439                   930                                      -
42440                  7595                                      -
42441                  4749                                    0.9
42442                  1474                                    1.4
42443                 12957                                    1.4
42444                  6595                                    1.8
42445                 19654                                    0.1
42446                  5423                                    1.1
42447                  4443                                    0.7
42448                 18196                                    1.0

      Annual change in Median Weekly Rent  \
0                                   1.85%
1                                       -
2                                   4.41%
3                                       -
4                                   2.17%
5                                   6.90%
6                                   2.56%
7                                   3.23%
8                                       -

In [40]:
x.columns

Index(['Year', 'Quarter', 'LGA (Local Government Areas)', 'Dwelling Types',
       'Bedroom Numbers', 'First Quartile Weekly Rent for New Bonds\n$',
       'Median Weekly Rent for New Bonds\n$',
       'Third Quartile Weekly Rent for New Bonds\n$', 'New Bonds Lodged\nNo.',
       'Total Bonds Held\nNo.', 'Quarterly change in Median Weekly Rent',
       'Annual change in Median Weekly Rent',
       'Quarterly change in New Bonds Lodged',
       'Annual change in New Bonds Lodged'],
      dtype='object')

In [42]:
x.tail()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
42444,2015,First,Maitland,Total,Total,-,-,-,743,6595,1.8,6.7,3.1,-1.2
42445,2015,First,Newcastle,Total,Total,-,-,-,2659,19654,0.1,3.5,40.6,8.0
42446,2015,First,Port Stephens,Total,Total,-,-,-,607,5423,1.1,1.7,7.1,9.6
42447,2015,First,Shellharbour,Total,Total,-,-,-,391,4443,0.7,5.7,-8.9,2.6
42448,2015,First,Wollongong,Total,Total,-,-,-,1884,18196,1.0,2.8,6.3,-2.5

In [60]:
import numpy as np
x.replace(to_replace ="-", 
                 value=np.nan)

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged,a
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%,220275340
1,2019,Second,Albury,Total,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%,165178200
3,2019,Second,Albury,Total,Not Specified,NaN,NaN,NaN,NaN,214,NaN,NaN,NaN,NaN,---
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%,190235265
5,2019,Second,Albury,Total,3 Bedrooms,280,310,348,227,"2,141",-3.12%,6.90%,-22.53%,-9.56%,280310348
6,2019,Second,Albury,Total,4 or more Bedrooms,360,400,430,83,893,0.00%,2.56%,-29.66%,-16.16%,360400430
7,2019,Second,Albury,House,Total,275,320,370,312,"2,909",-3.03%,3.23%,-22.96%,-11.11%,275320370
8,2019,Second,Albury,House,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
9,2019,Second,Albury,House,1 Bedroom,NaN,NaN,NaN,NaN,s,NaN,NaN,NaN,NaN,---
10,2019,Second,Albury,House,Not Specified,NaN,NaN,NaN,NaN,73,NaN,NaN,NaN,NaN,---
11,2019,Second,Albury,House,2 Bedrooms,213,250,279,50,322,-4.76%,-1.96%,-16.67%,16.28%,213250279
12,2019,Second,Albury,House,3 Bedrooms,280,313,350,176,"1,639",-1.57%,5.93%,-17.76%,-14.15%,280313350
13,2019,Second,Albury,House,4 or more Bedrooms,364,400,430,80,845,0.00%,2.56%,-31.03%,-16.67%,364400430
14,2019,Second,Albury,Other,Total,NaN,NaN,NaN,NaN,367,NaN,NaN,NaN,NaN,---
15,2019,Second,Albury,Other,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
16,2019,Second,Albury,Other,1 Bedroom,NaN,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,---
17,2019,Second,Albury,Other,Not Specified,NaN,NaN,NaN,NaN,80,NaN,NaN,NaN,NaN,---
18,2019,Second,Albury,Other,2 Bedrooms,NaN,NaN,NaN,NaN,125,NaN,NaN,NaN,NaN,---
19,2019,Second,Albury,Other,3 Bedrooms,NaN,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,---
20,2019,Second,Albury,Other,4 or more Bedrooms,NaN,NaN,NaN,NaN,s,NaN,NaN,NaN,NaN,---
21,2019,Second,Albury,Townhouse,Total,270,305,350,50,511,-2.40%,3.39%,-32.43%,-3.85%,270305350
22,2019,Second,Albury,Townhouse,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
23,2019,Second,Albury,Townhouse,1 Bedroom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
24,2019,Second,Albury,Townhouse,Not Specified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
25,2019,Second,Albury,Townhouse,2 Bedrooms,244,278,303,s,274,1.83%,0.00%,-20.00%,-14.29%,244278303
26,2019,Second,Albury,Townhouse,3 Bedrooms,299,340,350,s,211,3.82%,9.68%,-45.45%,14.29%,299340350
27,2019,Second,Albury,Townhouse,4 or more Bedrooms,NaN,NaN,NaN,NaN,s,NaN,NaN,NaN,NaN,---
28,2019,Second,Albury,Flat/Unit,Total,180,210,255,253,"2,308",-2.33%,0.00%,-2.32%,3.69%,180210255
29,2019,Second,Albury,Flat/Unit,Bedsitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,---
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42419,2015,First,Penrith,Total,Total,NaN,NaN,NaN,1406,16124,1.1,6.1,-8.6,10.1,---
42420,2015,First,Pittwater,Total,Total,NaN,NaN,NaN,409,4428,0.0,2.3,-9.5,4.1,---
42421,2015,First,Sutherland,Total,Total,NaN,NaN,NaN,1277,15633,-0.2,1.6,-13.5,-3.4,---
42422,2015,First,Warringah,Total,Total,NaN,NaN,NaN,1205,13598,0.1,2.3,-6.5,-3.7,---
42423,2015,First,Wollondilly,Total,Total,NaN,NaN,NaN,196,2004,0.9,3.8,-4.9,11.4,---
42424,2015,First,Wyong,Total,Total,NaN,NaN,NaN,1196,14652,-0.1,2.5,-15.1,0.8,---
42425,2015,First,Cessnock,House,Total,NaN,NaN,NaN,288,2911,NaN,NaN,NaN,NaN,---
42426,2015,First,Kiama,House,Total,NaN,NaN,NaN,71,636,NaN,NaN,NaN,NaN,---
42427,2015,First,Lake Macquarie,House,Total,NaN,NaN,NaN,689,6726,NaN,NaN,NaN,NaN,---
42428,2015,First,Maitland,House,Total,NaN,NaN,NaN,461,3879,NaN,NaN,NaN,NaN,---
42429,2015,First,Newcastle,House,Total,NaN,NaN,NaN,753,6323,NaN,NaN,NaN,NaN,---
42430,2015,First,Port Stephens,House,Total,NaN,NaN,NaN,311,2713,NaN,NaN,NaN,NaN,---
42431,2015,First,Shellharbour,House,Total,NaN,NaN,NaN,185,2105,NaN,NaN,NaN,NaN,---
42432,2015,First,Wollongong,House,Total,NaN,NaN,NaN,499,5293,NaN,NaN,NaN,NaN,---
42433,2015,First,Cessnock,Flat/Unit,Total,NaN,NaN,NaN,89,866,NaN,NaN,NaN,NaN,---
42434,2015,First,Kiama,Flat/Unit,Total,NaN,NaN,NaN,30,303,NaN,NaN,NaN,NaN,---
42435,2015,First,Lake Macquarie,Flat/Unit,Total,NaN,NaN,NaN,227,2182,NaN,NaN,NaN,NaN,---
42436,2015,First,Maitland,Flat/Unit,Total,NaN,NaN,NaN,153,1324,NaN,NaN,NaN,NaN,---
42437,2015,First,Newcastle,Flat/Unit,Total,NaN,NaN,NaN,658,5035,NaN,NaN,NaN,NaN,---
42438,2015,First,Port Stephens,Flat/Unit,Total,NaN,NaN,NaN,117,997,NaN,NaN,NaN,NaN,---
42439,2015,First,Shellharbour,Flat/Unit,Total,NaN,NaN,NaN,87,930,NaN,NaN,NaN,NaN,---
42440,2015,First,Wollongong,Flat/Unit,Total,NaN,NaN,NaN,861,7595,NaN,NaN,NaN,NaN,---
42441,2015,First,Cessnock,Total,Total,NaN,NaN,NaN,487,4749,0.9,5.3,-3.8,-2.6,---
42442,2015,First,Kiama,Total,Total,NaN,NaN,NaN,147,1474,1.4,-0.5,5.0,8.1,---
42443,2015,First,Lake Macquarie,Total,Total,NaN,NaN,NaN,1285,12957,1.4,3.9,10.0,5.8,---
42444,2015,First,Maitland,Total,Total,NaN,NaN,NaN,743,6595,1.8,6.7,3.1,-1.2,---
42445,2015,First,Newcastle,Total,Total,NaN,NaN,NaN,2659,19654,0.1,3.5,40.6,8.0,---
42446,2015,First,Port Stephens,Total,Total,NaN,NaN,NaN,607,5423,1.1,1.7,7.1,9.6,---
42447,2015,First,Shellharbour,Total,Total,NaN,NaN,NaN,391,4443,0.7,5.7,-8.9,2.6,---
42448,2015,First,Wollongong,Total,Total,NaN,NaN,NaN,1884,18196,1.0,2.8,6.3,-2.5,---

In [61]:
x.replace(to_replace = np.nan, value =159) 
x.head()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged,a
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%,220275340
1,2019,Second,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-,---
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%,165178200
3,2019,Second,Albury,Total,Not Specified,-,-,-,-,214,-,-,-,-,---
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%,190235265

In [49]:
x[["First Quartile Weekly Rent for New Bonds\n$"]].mean(axis=1)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
42419   NaN
42420   NaN
42421   NaN
42422   NaN
42423   NaN
42424   NaN
42425   NaN
42426   NaN
42427   NaN
42428   NaN
42429   NaN
42430   NaN
42431   NaN
42432   NaN
42433   NaN
42434   NaN
42435   NaN
42436   NaN
42437   NaN
42438   NaN
42439   NaN
42440   NaN
42441   NaN
42442   NaN
42443   NaN
42444   NaN
42445   NaN
42446   NaN
42447   NaN
42448   NaN
Length: 42449, dtype: float64

In [47]:
x['a']=x["First Quartile Weekly Rent for New Bonds\n$"] +x["Median Weekly Rent for New Bonds\n$"] +x["Third Quartile Weekly Rent for New Bonds\n$"]

In [48]:
print(x['a'])

0        220275340
1              ---
2        165178200
3              ---
4        190235265
5        280310348
6        360400430
7        275320370
8              ---
9              ---
10             ---
11       213250279
12       280313350
13       364400430
14             ---
15             ---
16             ---
17             ---
18             ---
19             ---
20             ---
21       270305350
22             ---
23             ---
24             ---
25       244278303
26       299340350
27             ---
28       180210255
29             ---
           ...
42419          ---
42420          ---
42421          ---
42422          ---
42423          ---
42424          ---
42425          ---
42426          ---
42427          ---
42428          ---
42429          ---
42430          ---
42431          ---
42432          ---
42433          ---
42434          ---
42435          ---
42436          ---
42437          ---
42438          ---
42439          ---
42440          ---
42441          ---
42442          ---
42443          ---
42444          ---
42445          ---
42446          ---
42447          ---
42448          ---
Name: a, Length: 42449, dtype: object