In [13]:
import pandas as pd

In [14]:
df.columns

NameError: name 'df' is not defined

In [15]:
df=pd.read_csv("Rent_Data1.txt")

FileNotFoundError: [Errno 2] File b'Rent_Data1.txt' does not exist: b'Rent_Data1.txt'

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df= df.fillna(method='ffill')

In [4]:
df.isnull().sum()

NameError: name 'df' is not defined

In [5]:
df.head()

NameError: name 'df' is not defined

In [6]:
df.head()

NameError: name 'df' is not defined

In [7]:
import seaborn as sns
x=df.iloc[:,5:6]
print(x)
y=df.iloc[:,2]

NameError: name 'df' is not defined

In [ ]:
print(y)

In [ ]:
pearsoncorr = df.corr(method='pearson')
pearsoncorr

In [12]:
list = ['Unnamed: 14','Unnamed: 15','Unnamed: 16']
x= df.drop(list,axis = 1 )

NameError: name 'df' is not defined

In [ ]:
print(x)

In [8]:
x.columns

NameError: name 'x' is not defined

In [11]:
x['Dwelling Types']

NameError: name 'x' is not defined

In [10]:

one_hot_encoded_training_predictors = x.get_dummies(x['Quarter'])

NameError: name 'x' is not defined

In [114]:
x.tail()

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
42444,2015,First,Maitland,Total,Total,-,-,-,743,6595,1.8,6.7,3.1,-1.2
42445,2015,First,Newcastle,Total,Total,-,-,-,2659,19654,0.1,3.5,40.6,8.0
42446,2015,First,Port Stephens,Total,Total,-,-,-,607,5423,1.1,1.7,7.1,9.6
42447,2015,First,Shellharbour,Total,Total,-,-,-,391,4443,0.7,5.7,-8.9,2.6
42448,2015,First,Wollongong,Total,Total,-,-,-,1884,18196,1.0,2.8,6.3,-2.5

In [115]:
x.replace(to_replace ="-", 
                 value ="0")

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
0,2019,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%
1,2019,Second,Albury,Total,Bedsitter,0,0,0,0,0,0,0,0,0
2,2019,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%
3,2019,Second,Albury,Total,Not Specified,0,0,0,0,214,0,0,0,0
4,2019,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%
5,2019,Second,Albury,Total,3 Bedrooms,280,310,348,227,"2,141",-3.12%,6.90%,-22.53%,-9.56%
6,2019,Second,Albury,Total,4 or more Bedrooms,360,400,430,83,893,0.00%,2.56%,-29.66%,-16.16%
7,2019,Second,Albury,House,Total,275,320,370,312,"2,909",-3.03%,3.23%,-22.96%,-11.11%
8,2019,Second,Albury,House,Bedsitter,0,0,0,0,0,0,0,0,0
9,2019,Second,Albury,House,1 Bedroom,0,0,0,0,s,0,0,0,0
10,2019,Second,Albury,House,Not Specified,0,0,0,0,73,0,0,0,0
11,2019,Second,Albury,House,2 Bedrooms,213,250,279,50,322,-4.76%,-1.96%,-16.67%,16.28%
12,2019,Second,Albury,House,3 Bedrooms,280,313,350,176,"1,639",-1.57%,5.93%,-17.76%,-14.15%
13,2019,Second,Albury,House,4 or more Bedrooms,364,400,430,80,845,0.00%,2.56%,-31.03%,-16.67%
14,2019,Second,Albury,Other,Total,0,0,0,0,367,0,0,0,0
15,2019,Second,Albury,Other,Bedsitter,0,0,0,0,0,0,0,0,0
16,2019,Second,Albury,Other,1 Bedroom,0,0,0,0,56,0,0,0,0
17,2019,Second,Albury,Other,Not Specified,0,0,0,0,80,0,0,0,0
18,2019,Second,Albury,Other,2 Bedrooms,0,0,0,0,125,0,0,0,0
19,2019,Second,Albury,Other,3 Bedrooms,0,0,0,0,78,0,0,0,0
20,2019,Second,Albury,Other,4 or more Bedrooms,0,0,0,0,s,0,0,0,0
21,2019,Second,Albury,Townhouse,Total,270,305,350,50,511,-2.40%,3.39%,-32.43%,-3.85%
22,2019,Second,Albury,Townhouse,Bedsitter,0,0,0,0,0,0,0,0,0
23,2019,Second,Albury,Townhouse,1 Bedroom,0,0,0,0,0,0,0,0,0
24,2019,Second,Albury,Townhouse,Not Specified,0,0,0,0,0,0,0,0,0
25,2019,Second,Albury,Townhouse,2 Bedrooms,244,278,303,s,274,1.83%,0.00%,-20.00%,-14.29%
26,2019,Second,Albury,Townhouse,3 Bedrooms,299,340,350,s,211,3.82%,9.68%,-45.45%,14.29%
27,2019,Second,Albury,Townhouse,4 or more Bedrooms,0,0,0,0,s,0,0,0,0
28,2019,Second,Albury,Flat/Unit,Total,180,210,255,253,"2,308",-2.33%,0.00%,-2.32%,3.69%
29,2019,Second,Albury,Flat/Unit,Bedsitter,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42419,2015,First,Penrith,Total,Total,0,0,0,1406,16124,1.1,6.1,-8.6,10.1
42420,2015,First,Pittwater,Total,Total,0,0,0,409,4428,0.0,2.3,-9.5,4.1
42421,2015,First,Sutherland,Total,Total,0,0,0,1277,15633,-0.2,1.6,-13.5,-3.4
42422,2015,First,Warringah,Total,Total,0,0,0,1205,13598,0.1,2.3,-6.5,-3.7
42423,2015,First,Wollondilly,Total,Total,0,0,0,196,2004,0.9,3.8,-4.9,11.4
42424,2015,First,Wyong,Total,Total,0,0,0,1196,14652,-0.1,2.5,-15.1,0.8
42425,2015,First,Cessnock,House,Total,0,0,0,288,2911,0,0,0,0
42426,2015,First,Kiama,House,Total,0,0,0,71,636,0,0,0,0
42427,2015,First,Lake Macquarie,House,Total,0,0,0,689,6726,0,0,0,0
42428,2015,First,Maitland,House,Total,0,0,0,461,3879,0,0,0,0
42429,2015,First,Newcastle,House,Total,0,0,0,753,6323,0,0,0,0
42430,2015,First,Port Stephens,House,Total,0,0,0,311,2713,0,0,0,0
42431,2015,First,Shellharbour,House,Total,0,0,0,185,2105,0,0,0,0
42432,2015,First,Wollongong,House,Total,0,0,0,499,5293,0,0,0,0
42433,2015,First,Cessnock,Flat/Unit,Total,0,0,0,89,866,0,0,0,0
42434,2015,First,Kiama,Flat/Unit,Total,0,0,0,30,303,0,0,0,0
42435,2015,First,Lake Macquarie,Flat/Unit,Total,0,0,0,227,2182,0,0,0,0
42436,2015,First,Maitland,Flat/Unit,Total,0,0,0,153,1324,0,0,0,0
42437,2015,First,Newcastle,Flat/Unit,Total,0,0,0,658,5035,0,0,0,0
42438,2015,First,Port Stephens,Flat/Unit,Total,0,0,0,117,997,0,0,0,0
42439,2015,First,Shellharbour,Flat/Unit,Total,0,0,0,87,930,0,0,0,0
42440,2015,First,Wollongong,Flat/Unit,Total,0,0,0,861,7595,0,0,0,0
42441,2015,First,Cessnock,Total,Total,0,0,0,487,4749,0.9,5.3,-3.8,-2.6
42442,2015,First,Kiama,Total,Total,0,0,0,147,1474,1.4,-0.5,5.0,8.1
42443,2015,First,Lake Macquarie,Total,Total,0,0,0,1285,12957,1.4,3.9,10.0,5.8
42444,2015,First,Maitland,Total,Total,0,0,0,743,6595,1.8,6.7,3.1,-1.2
42445,2015,First,Newcastle,Total,Total,0,0,0,2659,19654,0.1,3.5,40.6,8.0
42446,2015,First,Port Stephens,Total,Total,0,0,0,607,5423,1.1,1.7,7.1,9.6
42447,2015,First,Shellharbour,Total,Total,0,0,0,391,4443,0.7,5.7,-8.9,2.6
42448,2015,First,Wollongong,Total,Total,0,0,0,1884,18196,1.0,2.8,6.3,-2.5

In [1]:
pd.get_dumies(x)

NameError: name 'pd' is not defined

,Year,Quarter,LGA (Local Government Areas),Dwelling Types,Bedroom Numbers,First Quartile Weekly Rent for New Bonds $,Median Weekly Rent for New Bonds $,Third Quartile Weekly Rent for New Bonds $,New Bonds Lodged No.,Total Bonds Held No.,Quarterly change in Median Weekly Rent,Annual change in Median Weekly Rent,Quarterly change in New Bonds Lodged,Annual change in New Bonds Lodged
0,2019.0,Second,Albury,Total,Total,220,275,340,623,"6,095",-5.17%,1.85%,-16.93%,-5.03%
1,2019.0,Second,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-
2,2019.0,Second,Albury,Total,1 Bedroom,165,178,200,50,496,1.43%,4.41%,-12.28%,11.11%
3,2019.0,Second,Albury,Total,Not Specified,-,-,-,-,214,-,-,-,-
4,2019.0,Second,Albury,Total,2 Bedrooms,190,235,265,255,"2,341",0.00%,2.17%,-5.56%,0.00%
5,2019.0,Second,Albury,Total,3 Bedrooms,280,310,348,227,"2,141",-3.12%,6.90%,-22.53%,-9.56%
6,2019.0,Second,Albury,Total,4 or more Bedrooms,360,400,430,83,893,0.00%,2.56%,-29.66%,-16.16%
7,2019.0,Second,Albury,House,Total,275,320,370,312,"2,909",-3.03%,3.23%,-22.96%,-11.11%
8,2019.0,Second,Albury,House,Bedsitter,-,-,-,-,-,-,-,-,-
9,2019.0,Second,Albury,House,1 Bedroom,-,-,-,-,s,-,-,-,-
10,2019.0,Second,Albury,House,Not Specified,-,-,-,-,73,-,-,-,-
11,2019.0,Second,Albury,House,2 Bedrooms,213,250,279,50,322,-4.76%,-1.96%,-16.67%,16.28%
12,2019.0,Second,Albury,House,3 Bedrooms,280,313,350,176,"1,639",-1.57%,5.93%,-17.76%,-14.15%
13,2019.0,Second,Albury,House,4 or more Bedrooms,364,400,430,80,845,0.00%,2.56%,-31.03%,-16.67%
14,2019.0,Second,Albury,Other,Total,-,-,-,-,367,-,-,-,-
15,2019.0,Second,Albury,Other,Bedsitter,-,-,-,-,-,-,-,-,-
16,2019.0,Second,Albury,Other,1 Bedroom,-,-,-,-,56,-,-,-,-
17,2019.0,Second,Albury,Other,Not Specified,-,-,-,-,80,-,-,-,-
18,2019.0,Second,Albury,Other,2 Bedrooms,-,-,-,-,125,-,-,-,-
19,2019.0,Second,Albury,Other,3 Bedrooms,-,-,-,-,78,-,-,-,-
20,2019.0,Second,Albury,Other,4 or more Bedrooms,-,-,-,-,s,-,-,-,-
21,2019.0,Second,Albury,Townhouse,Total,270,305,350,50,511,-2.40%,3.39%,-32.43%,-3.85%
22,2019.0,Second,Albury,Townhouse,Bedsitter,-,-,-,-,-,-,-,-,-
23,2019.0,Second,Albury,Townhouse,1 Bedroom,-,-,-,-,-,-,-,-,-
24,2019.0,Second,Albury,Townhouse,Not Specified,-,-,-,-,-,-,-,-,-
25,2019.0,Second,Albury,Townhouse,2 Bedrooms,244,278,303,s,274,1.83%,0.00%,-20.00%,-14.29%
26,2019.0,Second,Albury,Townhouse,3 Bedrooms,299,340,350,s,211,3.82%,9.68%,-45.45%,14.29%
27,2019.0,Second,Albury,Townhouse,4 or more Bedrooms,-,-,-,-,s,-,-,-,-
28,2019.0,Second,Albury,Flat/Unit,Total,180,210,255,253,"2,308",-2.33%,0.00%,-2.32%,3.69%
29,2019.0,Second,Albury,Flat/Unit,Bedsitter,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42419,2015.0,First,Penrith,Total,Total,-,-,-,1406,16124,1.1,6.1,-8.6,10.1
42420,2015.0,First,Pittwater,Total,Total,-,-,-,409,4428,0.0,2.3,-9.5,4.1
42421,2015.0,First,Sutherland,Total,Total,-,-,-,1277,15633,-0.2,1.6,-13.5,-3.4
42422,2015.0,First,Warringah,Total,Total,-,-,-,1205,13598,0.1,2.3,-6.5,-3.7
42423,2015.0,First,Wollondilly,Total,Total,-,-,-,196,2004,0.9,3.8,-4.9,11.4
42424,2015.0,First,Wyong,Total,Total,-,-,-,1196,14652,-0.1,2.5,-15.1,0.8
42425,2015.0,First,Cessnock,House,Total,-,-,-,288,2911,-,-,-,-
42426,2015.0,First,Kiama,House,Total,-,-,-,71,636,-,-,-,-
42427,2015.0,First,Lake Macquarie,House,Total,-,-,-,689,6726,-,-,-,-
42428,2015.0,First,Maitland,House,Total,-,-,-,461,3879,-,-,-,-
42429,2015.0,First,Newcastle,House,Total,-,-,-,753,6323,-,-,-,-
42430,2015.0,First,Port Stephens,House,Total,-,-,-,311,2713,-,-,-,-
42431,2015.0,First,Shellharbour,House,Total,-,-,-,185,2105,-,-,-,-
42432,2015.0,First,Wollongong,House,Total,-,-,-,499,5293,-,-,-,-
42433,2015.0,First,Cessnock,Flat/Unit,Total,-,-,-,89,866,-,-,-,-
42434,2015.0,First,Kiama,Flat/Unit,Total,-,-,-,30,303,-,-,-,-
42435,2015.0,First,Lake Macquarie,Flat/Unit,Total,-,-,-,227,2182,-,-,-,-
42436,2015.0,First,Maitland,Flat/Unit,Total,-,-,-,153,1324,-,-,-,-
42437,2015.0,First,Newcastle,Flat/Unit,Total,-,-,-,658,5035,-,-,-,-
42438,2015.0,First,Port Stephens,Flat/Unit,Total,-,-,-,117,997,-,-,-,-
42439,2015.0,First,Shellharbour,Flat/Unit,Total,-,-,-,87,930,-,-,-,-
42440,2015.0,First,Wollongong,Flat/Unit,Total,-,-,-,861,7595,-,-,-,-
42441,2015.0,First,Cessnock,Total,Total,-,-,-,487,4749,0.9,5.3,-3.8,-2.6
42442,2015.0,First,Kiama,Total,Total,-,-,-,147,1474,1.4,-0.5,5.0,8.1
42443,2015.0,First,Lake Macquarie,Total,Total,-,-,-,1285,12957,1.4,3.9,10.0,5.8
42444,2015.0,First,Maitland,Total,Total,-,-,-,743,6595,1.8,6.7,3.1,-1.2
42445,2015.0,First,Newcastle,Total,Total,-,-,-,2659,19654,0.1,3.5,40.6,8.0
42446,2015.0,First,Port Stephens,Total,Total,-,-,-,607,5423,1.1,1.7,7.1,9.6
42447,2015.0,First,Shellharbour,Total,Total,-,-,-,391,4443,0.7,5.7,-8.9,2.6
42448,2015.0,First,Wollongong,Total,Total,-,-,-,1884,18196,1.0,2.8,6.3,-2.5