In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rent_df=pd.read_csv("data/Rent_Data.csv")
rent_df.columns = ["Year", "Quarter", "LGA", "Dwelling Type", "Bedroom Number", 
                "First QNB", "Second QNB", "Third QNB", "NB Lodged", "TB Lodged", "Qtrly Median Change", 
                "Annly Median Change", "Qtrly NB", "Annly NB"]
rent_df.head()

,Year,Quarter,LGA,Dwelling Type,Bedroom Number,First QNB,Second QNB,Third QNB,NB Lodged,TB Lodged,Qtrly Median Change,Annly Median Change,Qtrly NB,Annly NB
0,2019,2,Albury,Total,Total,220,275,340,623.00,6095.00,-5.17%,1.85%,-16.93%,-5.03%
1,2019,2,Albury,Total,Bedsitter,-,-,-,-,-,-,-,-,-
2,2019,2,Albury,Total,1 Bedroom,165,178,200,50.00,496.00,1.43%,4.41%,-12.28%,11.11%
3,2019,2,Albury,Total,Not Specified,-,-,-,-,214.00,-,-,-,-
4,2019,2,Albury,Total,2 Bedrooms,190,235,265,255.00,2341.00,0.00%,2.17%,-5.56%,0.00%

In [3]:
rent_df = rent_df.replace("-", np.nan)

In [4]:
rent_df["First QNB"] = rent_df["First QNB"].astype(str).astype(float)
rent_df["Second QNB"] = rent_df["Second QNB"].astype(str).astype(float)
rent_df["Third QNB"] = rent_df["Third QNB"].astype(str).astype(float)

In [5]:
### NAN values are replaced with min-1 ###

f_min_val = np.min(rent_df["First QNB"]) - 1
s_min_val = np.min(rent_df["Second QNB"]) - 1
t_min_val = np.min(rent_df["Third QNB"]) - 1

In [6]:
null = []
for x in rent_df.index:#range(len(rent_df.index)):
    null_row = rent_df.loc[x].isnull().sum()
    if null_row == 9:
        null.append(x)
        rent_df.loc[x] = rent_df.loc[x].replace(np.nan, 0)

In [7]:
### NAN values are replaced with min-1 ###

rent_df["First QNB"] = rent_df["First QNB"].replace(np.nan, f_min_val)
rent_df["Second QNB"] = rent_df["Second QNB"].replace(np.nan, s_min_val)
rent_df["Third QNB"] = rent_df["Third QNB"].replace(np.nan, t_min_val)

In [8]:
### replace s  with 1 ###
rent_df = rent_df.replace("s", 1)
rent_df["NB Lodged"] = rent_df["NB Lodged"].astype(str).astype(float)
rent_df["TB Lodged"] = rent_df["TB Lodged"].astype(str).astype(float)

In [9]:
### NAN values are replaced with 0 ###
### s values which mean really small values are replaced with min/2 ###

fq_min_val = np.min(rent_df["NB Lodged"])
rent_df["NB Lodged"] = rent_df["NB Lodged"].replace(1, fq_min_val)/2
rent_df["NB Lodged"] = rent_df["NB Lodged"].replace(np.nan, 0)

sq_min_val = np.min(rent_df["TB Lodged"])
rent_df["TB Lodged"] = rent_df["TB Lodged"].replace(1, sq_min_val)/2
rent_df["TB Lodged"] = rent_df["TB Lodged"].replace(np.nan, 0)

In [10]:
### float to int ###
rent_df["NB Lodged"] = rent_df["NB Lodged"].astype(int)
rent_df["TB Lodged"] = rent_df["TB Lodged"].astype(int)

rent_df["First QNB"] = rent_df["First QNB"].astype(int)
rent_df["Second QNB"] = rent_df["Second QNB"].astype(int)
rent_df["Third QNB"] = rent_df["Third QNB"].astype(int)

In [11]:
### remove % sign ###
rent_df['Qtrly Median Change'] = rent_df['Qtrly Median Change'].astype(str).str.extract('(\d+)').astype(float)
rent_df['Annly Median Change'] = rent_df['Annly Median Change'].astype(str).str.extract('(\d+)').astype(float)
rent_df['Qtrly NB'] = rent_df['Qtrly NB'].astype(str).str.extract('(\d+)').astype(float)
rent_df['Annly NB'] = rent_df['Annly NB'].astype(str).str.extract('(\d+)').astype(float)

### replace nan values for the last 4 columns with 0 ###
rent_df = rent_df.replace(np.nan, 0)

In [12]:
rent_df

,Year,Quarter,LGA,Dwelling Type,Bedroom Number,First QNB,Second QNB,Third QNB,NB Lodged,TB Lodged,Qtrly Median Change,Annly Median Change,Qtrly NB,Annly NB
0,2019,2,Albury,Total,Total,220,275,340,311,3047,5.0,1.0,16.0,5.0
1,2019,2,Albury,Total,Bedsitter,0,0,0,0,0,0.0,0.0,0.0,0.0
2,2019,2,Albury,Total,1 Bedroom,165,178,200,25,248,1.0,4.0,12.0,11.0
3,2019,2,Albury,Total,Not Specified,59,59,59,0,107,0.0,0.0,0.0,0.0
4,2019,2,Albury,Total,2 Bedrooms,190,235,265,127,1170,0.0,2.0,5.0,0.0
5,2019,2,Albury,Total,3 Bedrooms,280,310,348,113,1070,3.0,6.0,22.0,9.0
6,2019,2,Albury,Total,4 or more Bedrooms,360,400,430,41,446,0.0,2.0,29.0,16.0
7,2019,2,Albury,House,Total,275,320,370,156,1454,3.0,3.0,22.0,11.0
8,2019,2,Albury,House,Bedsitter,0,0,0,0,0,0.0,0.0,0.0,0.0
9,2019,2,Albury,House,1 Bedroom,59,59,59,0,0,0.0,0.0,0.0,0.0
10,2019,2,Albury,House,Not Specified,59,59,59,0,36,0.0,0.0,0.0,0.0
11,2019,2,Albury,House,2 Bedrooms,213,250,279,25,161,4.0,1.0,16.0,16.0
12,2019,2,Albury,House,3 Bedrooms,280,313,350,88,819,1.0,5.0,17.0,14.0
13,2019,2,Albury,House,4 or more Bedrooms,364,400,430,40,422,0.0,2.0,31.0,16.0
14,2019,2,Albury,Other,Total,59,59,59,0,183,0.0,0.0,0.0,0.0
15,2019,2,Albury,Other,Bedsitter,0,0,0,0,0,0.0,0.0,0.0,0.0
16,2019,2,Albury,Other,1 Bedroom,59,59,59,0,28,0.0,0.0,0.0,0.0
17,2019,2,Albury,Other,Not Specified,59,59,59,0,40,0.0,0.0,0.0,0.0
18,2019,2,Albury,Other,2 Bedrooms,59,59,59,0,62,0.0,0.0,0.0,0.0
19,2019,2,Albury,Other,3 Bedrooms,59,59,59,0,39,0.0,0.0,0.0,0.0
20,2019,2,Albury,Other,4 or more Bedrooms,59,59,59,0,0,0.0,0.0,0.0,0.0
21,2019,2,Albury,Townhouse,Total,270,305,350,25,255,2.0,3.0,32.0,3.0
22,2019,2,Albury,Townhouse,Bedsitter,0,0,0,0,0,0.0,0.0,0.0,0.0
23,2019,2,Albury,Townhouse,1 Bedroom,0,0,0,0,0,0.0,0.0,0.0,0.0
24,2019,2,Albury,Townhouse,Not Specified,0,0,0,0,0,0.0,0.0,0.0,0.0
25,2019,2,Albury,Townhouse,2 Bedrooms,244,278,303,0,137,1.0,0.0,20.0,14.0
26,2019,2,Albury,Townhouse,3 Bedrooms,299,340,350,0,105,3.0,9.0,45.0,14.0
27,2019,2,Albury,Townhouse,4 or more Bedrooms,59,59,59,0,0,0.0,0.0,0.0,0.0
28,2019,2,Albury,Flat/Unit,Total,180,210,255,126,1154,2.0,0.0,2.0,3.0
29,2019,2,Albury,Flat/Unit,Bedsitter,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42419,2015,1,Penrith,Total,Total,59,59,59,703,8062,1.0,6.0,8.0,10.0
42420,2015,1,Pittwater,Total,Total,59,59,59,204,2214,0.0,2.0,9.0,4.0
42421,2015,1,Sutherland,Total,Total,59,59,59,638,7816,0.0,1.0,13.0,3.0
42422,2015,1,Warringah,Total,Total,59,59,59,602,6799,0.0,2.0,6.0,3.0
42423,2015,1,Wollondilly,Total,Total,59,59,59,98,1002,0.0,3.0,4.0,11.0
42424,2015,1,Wyong,Total,Total,59,59,59,598,7326,0.0,2.0,15.0,0.0
42425,2015,1,Cessnock,House,Total,59,59,59,144,1455,0.0,0.0,0.0,0.0
42426,2015,1,Kiama,House,Total,59,59,59,35,318,0.0,0.0,0.0,0.0
42427,2015,1,Lake Macquarie,House,Total,59,59,59,344,3363,0.0,0.0,0.0,0.0
42428,2015,1,Maitland,House,Total,59,59,59,230,1939,0.0,0.0,0.0,0.0
42429,2015,1,Newcastle,House,Total,59,59,59,376,3161,0.0,0.0,0.0,0.0
42430,2015,1,Port Stephens,House,Total,59,59,59,155,1356,0.0,0.0,0.0,0.0
42431,2015,1,Shellharbour,House,Total,59,59,59,92,1052,0.0,0.0,0.0,0.0
42432,2015,1,Wollongong,House,Total,59,59,59,249,2646,0.0,0.0,0.0,0.0
42433,2015,1,Cessnock,Flat/Unit,Total,59,59,59,44,433,0.0,0.0,0.0,0.0
42434,2015,1,Kiama,Flat/Unit,Total,59,59,59,15,151,0.0,0.0,0.0,0.0
42435,2015,1,Lake Macquarie,Flat/Unit,Total,59,59,59,113,1091,0.0,0.0,0.0,0.0
42436,2015,1,Maitland,Flat/Unit,Total,59,59,59,76,662,0.0,0.0,0.0,0.0
42437,2015,1,Newcastle,Flat/Unit,Total,59,59,59,329,2517,0.0,0.0,0.0,0.0
42438,2015,1,Port Stephens,Flat/Unit,Total,59,59,59,58,498,0.0,0.0,0.0,0.0
42439,2015,1,Shellharbour,Flat/Unit,Total,59,59,59,43,465,0.0,0.0,0.0,0.0
42440,2015,1,Wollongong,Flat/Unit,Total,59,59,59,430,3797,0.0,0.0,0.0,0.0
42441,2015,1,Cessnock,Total,Total,59,59,59,243,2374,0.0,5.0,3.0,2.0
42442,2015,1,Kiama,Total,Total,59,59,59,73,737,1.0,0.0,5.0,8.0
42443,2015,1,Lake Macquarie,Total,Total,59,59,59,642,6478,1.0,3.0,10.0,5.0
42444,2015,1,Maitland,Total,Total,59,59,59,371,3297,1.0,6.0,3.0,1.0
42445,2015,1,Newcastle,Total,Total,59,59,59,1329,9827,0.0,3.0,40.0,8.0
42446,2015,1,Port Stephens,Total,Total,59,59,59,303,2711,1.0,1.0,7.0,9.0
42447,2015,1,Shellharbour,Total,Total,59,59,59,195,2221,0.0,5.0,8.0,2.0
42448,2015,1,Wollongong,Total,Total,59,59,59,942,9098,1.0,2.0,6.0,2.0