In [8]:
import pandas as pd
import numpy as np

%matplotlib inline
import warnings; warnings.simplefilter('ignore')

In [25]:
sales_df=pd.read_csv("data/Sales_Data.csv")
sales_df.columns = ["Year", "Quarter", "LGA", "Dwelling Type", "First Quartile", "Second Quartile", 
                   "Third Quartile", "Mean Sales Price", "Sales Number", "Qtrly Median Change", 
                "Annly Median Change", "Qtrly Count Change", "Annly Count Change"]
sales_df.head(10)

,Year,Quarter,LGA,Dwelling Type,First Quartile,Second Quartile,Third Quartile,Mean Sales Price,Sales Number,Qtrly Median Change,Annly Median Change,Qtrly Count Change,Annly Count Change
0,2018.0,4.0,Total,Total,290.00,400.00,550.00,443.00,7916.00,-0.02,0.00,0.00,-0.20
1,2018.0,4.0,Total,Non Strata,294.00,411.00,560.00,452.00,6801.00,-0.02,-0.02,0.01,-0.20
2,2018.0,4.0,Total,Strata,275.00,355.00,465.00,388.00,1115.00,-0.02,0.01,-0.01,-0.22
3,2018.0,4.0,Albury,Total,240.00,308.00,420.00,345.00,258.00,0.04,-0.04,0.09,-0.19
4,2018.0,4.0,Albury,Non Strata,275.00,360.00,443.00,377.00,211.00,0.06,0.08,0.15,-0.18
5,2018.0,4.0,Albury,Strata,160.00,212.00,230.00,199.00,47.00,0.03,-0.10,-0.13,-0.20
6,2018.0,4.0,Armidale Regional,Total,275.00,348.00,445.00,371.00,129.00,0.07,0.02,0.59,0.00
7,2018.0,4.0,Armidale Regional,Non Strata,290.00,355.00,461.00,388.00,116.00,0.04,0.03,0.61,0.05
8,2018.0,4.0,Armidale Regional,Strata,175.00,199.00,245.00,218.00,s,-0.22,-0.20,0.44,-0.28
9,2018.0,4.0,Ballina,Total,490.00,600.00,735.00,649.00,175.00,-0.08,0.01,-0.10,-0.10

In [33]:
sales_df = sales_df.replace("-", np.nan)
sales_df = sales_df.replace("s",np.nan)
sales_df= sales_df.fillna(method='bfill')

sales_df['Year'] = sales_df['Year'].astype(int)
sales_df['Quarter'] = sales_df['Quarter'].astype(int)
sales_df["First Quartile"] = sales_df["First Quartile"].astype(str).astype(float)
sales_df['First Quartile'] = sales_df['First Quartile'].astype(int)
sales_df["Second Quartile"] = sales_df["Second Quartile"].astype(str).astype(float)
sales_df['Second Quartile'] = sales_df['Second Quartile'].astype(int)
sales_df["Third Quartile"] = sales_df["Third Quartile"].astype(str).astype(float)
sales_df['Third Quartile'] = sales_df['Third Quartile'].astype(int)
sales_df["Mean Sales Price"] = sales_df["Mean Sales Price"].astype(str).astype(float)
sales_df['Mean Sales Price'] = sales_df['Mean Sales Price'].astype(int)
sales_df["Sales Number"] = sales_df["Sales Number"].astype(str).astype(float)
sales_df['Sales Number'] = sales_df['Sales Number'].astype(int)

sales_df.head(10)

,Year,Quarter,LGA,Dwelling Type,First Quartile,Second Quartile,Third Quartile,Mean Sales Price,Sales Number,Qtrly Median Change,Annly Median Change,Qtrly Count Change,Annly Count Change
0,2018,4,Total,Total,290,400,550,443,7916,-0.02,0.00,0.00,-0.20
1,2018,4,Total,Non Strata,294,411,560,452,6801,-0.02,-0.02,0.01,-0.20
2,2018,4,Total,Strata,275,355,465,388,1115,-0.02,0.01,-0.01,-0.22
3,2018,4,Albury,Total,240,308,420,345,258,0.04,-0.04,0.09,-0.19
4,2018,4,Albury,Non Strata,275,360,443,377,211,0.06,0.08,0.15,-0.18
5,2018,4,Albury,Strata,160,212,230,199,47,0.03,-0.10,-0.13,-0.20
6,2018,4,Armidale Regional,Total,275,348,445,371,129,0.07,0.02,0.59,0.00
7,2018,4,Armidale Regional,Non Strata,290,355,461,388,116,0.04,0.03,0.61,0.05
8,2018,4,Armidale Regional,Strata,175,199,245,218,175,-0.22,-0.20,0.44,-0.28
9,2018,4,Ballina,Total,490,600,735,649,175,-0.08,0.01,-0.10,-0.10